{% extends 'layout.html' %}

{% block body %}
  <h1>About Family</h1>
  <p>	Family: ancestry, parentage, birth, pedigree, genealogy, background, family tree, descent, lineage, line, line of descent, bloodline, blood, extraction, derivation, race, strain, stock, breed; dynasty, house; forebears, forefathers, antecedents, progenitors, roots, origins; rarefiliation, stirps...
<br/>"A prospective husband must come from the right kind of family." </p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Short</th>
      <th scope="col">Mail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>S. Wang</td>
      <td>songhaow</td>
      <td>@hotmail</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>J. Zhang</td>
      <td>renhuazhang</td>
      <td>@hotmail</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>J. Wang</td>
      <td>John</td>
      <td>@gmail</td>
    </tr>
  </tbody>
</table>


{% endblock %}
